@import "tailwindcss";

:root {
  --primary: #1e40af;
  --primary-light: #3b82f6;
  --secondary: #f59e0b;
  --background: #f8fafc;
  --text: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--text);
}
